.registration-image{
  border-radius: 0px 73px 73px 0px;
  background-color: #f4e7ff;
  background-image: url('../images/registration-girl.png');
  background-position: center;
  background-size: contain;
  width: 50%;
  background-repeat: no-repeat;
}
