h1, h2, h3, h4, h5, body{
    font-family: 'Open Sans', sans-serif !important;
}
.ui.primary.button{
    background-color: #231847 !important;
    &:hover{
        background-color: #2f254e !important;
    }
    &:active{
        background-color: #fff48a !important;
        color: #231847 !important;
    }
}
.ui.basic.primary.button.big-button, .ui.basic.primary.button.med-button{
    box-shadow: 0 0 0 1px #231847 inset!important;
    color: #231847 !important;
    &:hover, &:focus{
        box-shadow: 0 0 0 1px #2f254e inset!important;
        color: #2f254e !important;
    }
    &:active{
        box-shadow: 0 0 0 1px #fff48a inset!important;
        color: #231847 !important;
    }
}
.ui.card>.image>img, .ui.cards>.card>.image>img{
    height: 200px !important;
    background-color: #eeebff;
}